/* Shared Styles */

.no-padding {
	padding: 0;
}

.main-container {
	background: url(@background-img) no-repeat bottom center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 800px;
    padding-top: 70px;
    padding-bottom: 70px;
}

@blue-box-padding: 15px;

.btn-primary {
	background-color: @submit-button-colour;
	border: none;
	&:hover, &:focus, &:active {
		background-color: @submit-button-hover-colour;
	}
}

.pt-blue-box {
	.header {
		padding: 8px 15px;
		background-color: @blue-colour;
		border: 1px solid @light-blue-colour;
		overflow: auto;
		.header-icon {
			background-color: transparent;
			width: 23px;
			height: 23px;
		}
		p {
			margin: 0;
			font-size: 14px;
			color: @white-colour;
			text-align: center;
			padding: 1px 0;
		}
	}
	.main {
		overflow: auto;
		padding: 30px @blue-box-padding;
		background-color: @white-colour;
		label {
			font-size: 11px;
			margin-top: 20px;
			&:first-child {
				margin: 0;
			}
		}
		input[type="text"], input[type="number"] {
			border: none;
			box-shadow: none;
			border-radius: 0;
			padding: 0;
			border-bottom: 1px solid @light-grey-colour;
			color: @input-text-colour;
			&:focus {
				border-color: @focus-colour;
				outline: none;
				box-shadow: 0 4px 2px -4px rgba(102, 175, 233, 0.6);
			}
			&:disabled {
				background-color: transparent;
				color: @input-disabled-text-colour;
			}
			&.ng-invalid.ng-dirty {
			  border-bottom: 1px solid red;
			}
		}
		.number-input-currency-container {
			position: relative;
			.currency-sign {
				position: absolute;
				top: 6px;
				color: @input-text-colour;
			}
			input[type="number"] {
				padding-left: 15px;
			}
		}
		::-webkit-input-placeholder {
		    color: @input-text-colour;
		}
		input[type="submit"] {
			margin-top: 20px;
			width: 70%;
			text-transform: uppercase;
		}
	}
}

.small-modal-window .modal-dialog {
  width: 540px;
}

@media @tablet {
	.tablet-margin-top {
		margin-top: 20px;
	}
	.pt-blue-box {
		.main {
			input[type="submit"] {
				width: 100%;
			}
		}
	}
	
}