@font-size-body: 14px;
@default-font-family: 'Kanit', sans-serif;

.light-weight {
	font-weight: 100;
}
.normal-weight {
	font-weight: 300;
}
.heavy-weight {
	font-weight: 600;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: @default-font-family;
}

h1, h2, h3, h4 {
  .normal-weight;
}

p, ul li, ol li, a {
	font-size: @font-size-body;
}