/* Colours */
@orange-colour: #FF7839;
@blue-colour: #0C8397;
@light-blue-colour: #2F95A6;
@light-grey-colour: #ccc;

@submit-button-colour: #EE7032;
@submit-button-hover-colour: #DD5512;
@focus-colour: #66afe9;
@input-text-colour: #7B7772;
@input-disabled-text-colour: #7B7772;
@arrow-colour: #999999;

@black-colour: black;
@white-colour: white;

// Images
@background-img: 	"../assets/images/background.jpg";

@desktop:   ~"only screen and (min-width: @{screen-desktop})";
@tablet:    ~"only screen and (max-width: @{screen-desktop})";
@big-mobile:    ~"only screen and (max-width: @{screen-tablet})";
@mobile:    ~"only screen and (max-width: @{screen-phone})";


