.pt-header {
	display: block;
	padding: 26px 0;
    background-color: @white-colour;
    border-top: 1px solid @orange-colour;
    border-bottom: 2px solid @orange-colour;
    .pt-logo {
        height: 34px;
    }
}
