<div class="modal-header">
    <h3 class="modal-title">{{$ctrl.title}}</h3>
</div>
<div class="modal-body">
    <p>{{$ctrl.bodyText}}</p>
    <label>From Account:</label>
    <p>{{$ctrl.item.from}}</p>
    <label>To Account:</label>
    <p>{{$ctrl.item.to}}</p>
    <label>Amount:</label>
    <p>$ {{$ctrl.item.amount | number: 2}}</p>
</div>
<div class="modal-footer">
	<button class="btn btn-default" type="button" ng-click="$ctrl.handleClose()">Cancel</button>
    <button class="btn" ng-class="{ 'btn-danger': $ctrl.state === 'danger', 'btn-primary': $ctrl.state === 'primary' }" type="button" ng-click="$ctrl.handleSubmit()" ladda="$ctrl.submitting">Transfer</button>
</div>