<div class="pt-blue-box">
	<div class="header">
		<div class="col-md-2 col-xs-2 no-padding">
			<img src="assets/images/icons/arrows.png" class="header-icon">
		</div>
		<div class="col-md-8 col-md-inset-2 col-xs-8 col-xs-inset-2 no-padding">
			<p>Make a Transfer</p>
		</div>
	</div>
	<div class="main">
		<form ng-submit="$ctrl.transferMoney()" name="$ctrl.transferMoneyForm">
			<label for="from-account" class="text-uppercase">From Account</label>
			<input type="text" id="from-account" class="form-control" ng-model="$ctrl.transfer.from" placeholder="Enter account name" name="fromAccount" ng-disabled="true"></input>

			<label for="to-account" class="text-uppercase">To Account</label>
			<input type="text" id="to-account" class="form-control" ng-model="$ctrl.transfer.to" placeholder="Enter account name" name="toAccount" required></input>

			<label for="amount" class="text-uppercase">Amount</label>
			<div class="number-input-currency-container">
				<input type="number" id="amount" class="form-control" ng-model="$ctrl.transfer.amount" placeholder="0.00" name="amountField" ng-pattern="/^[\+ \-]?[0-9]*(\.[0-9]{1,2})?$/" step="0.25" min="0" max="500" required>
					<span class="currency-sign">$</span>
				</input>
			</div>

			<input type="submit" id="submit-transfer" class="btn btn-primary pull-right" value="Submit" ng-disabled="$ctrl.transferMoneyForm.$invalid"></input>
		</form>
	</div>
</div>