<div class="main-container" role="main">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <pt-transfer-view></pt-transfer-view>
            </div>
            <div class="col-md-8 col-xs-12 tablet-margin-top">
                <pt-transaction-view></pt-transaction-view>
            </div>
        </div>
    </div>
</div>