.transaction-table {
    border: 1px solid @input-text-colour;
    margin-top: 20px;
    width: 100%;
    .transaction-row {
        border: 1px solid @light-grey-colour;
        border-left: 4px solid @light-grey-colour;
        overflow: auto;
        padding: 12px 0;
        p {
            margin: 0;
        }
        >td {
            padding: 12px;
        }
        .transaction-logo {
            width: 40px;
        }
    }
}

.filter-bar {
    .sort-label {
        padding: 8px 0;
        text-transform: none;
    }
    .sort-buttons {
        .btn-group {
            button {
                font-size: 11px;
                text-transform: uppercase;
                border-radius: 0;
            }
            &:nth-child(1), &:nth-child(2) {
                button {
                    border-right: none;
                }
            }
        }
    }
    i.glyphicon {
        font-size: 10px;
        color: @arrow-colour;
        &.search-clear {
            position: absolute;
            top: 10px;
            right: 20px;


        }
    }
}


@media @tablet {
	.pt-blue-box .main {
    	.filter-bar {
        	.sort-label {
        		margin-top: 10px;
        	}
    	}	
    }
}