<div class="pt-blue-box">
    <div class="header">
        <div class="col-md-2 col-xs-2 no-padding">
            <img src="assets/images/icons/briefcase.png" class="header-icon">
        </div>
        <div class="col-md-8 col-md-inset-2 col-xs-8 col-xs-inset-2 no-padding">
            <p>Recent Transactions</p>
        </div>
    </div>
    <div class="main">
        <div class="filter-bar">
            <div class="col-md-5">
                <input type="text" id="search-transaction" class="form-control" ng-model="$ctrl.search" placeholder="Search by typing..." name="searchTransaction">
                    <a href="" ng-click="$ctrl.clearSearch()" ng-show="$ctrl.search">
                        <i class="glyphicon glyphicon-remove search-clear"></i>
                    </a>
                </input>
            </div>
            <div class="col-md-1 no-padding">
                <label class="sort-label">Sort by</label>
            </div>
            <div class="col-md-6 no-padding">
                <div class="btn-group btn-group-justified sort-buttons" role="group" aria-label="Sort buttons">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" ng-click="$ctrl.sortByAction($ctrl.sortByTransactionDate)">Date
                        <i class="glyphicon" ng-class="{'glyphicon-triangle-bottom' : $ctrl.sortByTransactionDate.state === false, 'glyphicon-triangle-top' : $ctrl.sortByTransactionDate.state}"></i></button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" ng-click="$ctrl.sortByAction($ctrl.sortByBeneficiary)">Beneficiary
                        <i class="glyphicon" ng-class="{'glyphicon-triangle-bottom' : $ctrl.sortByBeneficiary.state === false, 'glyphicon-triangle-top' : $ctrl.sortByBeneficiary.state}"></i></button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" ng-click="$ctrl.sortByAction($ctrl.sortByAmount)">Amount
                        <i class="glyphicon" ng-class="{'glyphicon-triangle-bottom' : $ctrl.sortByAmount.state === false, 'glyphicon-triangle-top' : $ctrl.sortByAmount.state}"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <table class="transaction-table col-md-12 no-padding responsive-table">
            <tbody>
                <tr ng-repeat="transaction in $ctrl.transactions | filter: {merchant: $ctrl.search} | orderBy: $ctrl.sortBy track by $index" class="transaction-row" style="border-left-color: {{transaction.categoryCode}}">
                    <td class="col-md-2 text-center">
                        {{transaction.transactionDate | amDateFormat:'MMM. DD'}}
                    </td>
                    <td class="col-md-2">
                        <img src="{{transaction.merchantLogo}}" class="transaction-logo">
                    </td>
                    <td class="col-md-6 text-left">
                        <p>{{transaction.merchant}}</p>
                        <p class="small">{{transaction.transactionType}}</p>
                    </td>
                    <td class="col-md-2 text-right">
                        <strong>-${{transaction.amount | number : 2}}</strong>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>